from django.urls import reverse_lazy
from django.contrib.auth.forms import UserCreationForm
from django.views import generic


class SignUpView(generic.CreateView):
    form_class    = UserCreationForm
    success_url   = reverse_lazy('login')
    template_name = 'signup.html'
    
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title%}

{% block content %}

<h2>Sign up</h2>

<form method="post">

    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class = "btn btn-success" >Sign up</button>
</form>

{% endblock content %}